@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body
{
    font-family: 'Poppins', sans-serif;

}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow:hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;

}

.hero::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(180deg,#0000008c 0%,#0000008c 100%),url('../images/google.png');
    background-size: cover;
    z-index:-1;

}

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav__title{
    font-weight: 400;

}

.nav__link{
    margin-left: 20px;
    padding: 10px 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 10em;
}

.nav__items{
    list-style: none;
}


.nav__links{
    color: #fff;
    text-decoration: none;

}

.nav__menu{
    margin-left:auto;
    cursor:pointer;
    display:none;
}

.nav__img{
    display: block;
    width: 30px;

}

.nav__close{
    display: var(--show,none);
}

.hero__container{
    max-width: 800px;
    display: grid;
    --padding-container:0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;

}

.hero__title{
    font-size: 3rem;

}

.hero__paragraph{
    margin-bottom: 20px;

}

.cta{
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 15px;


}

.about{
    text-align: center;

}

.subtitle{
    color:var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;

}

.about__main{
    padding-top: 80px;
    display:grid;
    width:90%;
    margin: 0 auto;
    gap: 1em;
    overflow:hidden;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
}

.about__icons{
    display:grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow:hidden;
    margin: 0 auto; 
}

.about__icon{
    width: 40px;

}

.knowledge{
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px; 
    overflow:hidden;

}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items:center;

}

.knowledge__picture{
    max-width: 300px;

}
.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;

}

.knowledge__img{
    width:80%;
    display:block;

}

.price{
    text-align:center;

}

.price__table{
    padding-top:60px;
    display:flex;
    flex-wrap:wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items:center;


}

.price__element{
    background-color: #e5e5f7;
    text-align:center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #696871;
    --color-cta: #5454D4;
    --color-items : #696871;

}

.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;

}

.price__price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items{
    margin-top : 15px;
    display: grid;
    gap: 1em;
    font-weight: 30;
    font-size: 1rem;
    margin-bottom: 20px;
    color : #5454d4;

}
ul{
    text-align : center;
    position : absolute;
    left : 25%;
}
